.socialNets {
    display: flex;
    position: fixed;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background: gray;
    border-radius: 30px;
    transform-origin: center;
    bottom: 5px;
    align-self: center;
    box-shadow: 0px 0px 10px gray;
}

.socialNet-Button>img {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.socialNet-Button {
    display: flex;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid var(--text);

    transition: all .3s ease;
}

.socialNet-Button:hover {
    transform: scale(1.1);
    padding: 6px;
}

.dark .socialNet-Button>img {
    filter: invert(1);
}


@media screen and (max-width: 250px) {
    .socialNets {
        flex-direction: column;
        height: 10rem;
    }

    .socialNet-Button {
        margin-top: 10px;
    }

}

@media screen and (prefers-color-scheme: dark) {
    .socialNet-Button>img {
        filter: invert(1);
    }

}