.searchForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchForm-parent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.searchInput {
    display: flex;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    
    transition: all .15s ease-in-out;
}

.searchButton {
    display: flex;
    margin-left: 50px;
    transition: all .15s ease-in-out;
}

.searchInput:hover {
    transform: scale(1.05);
    border: 1px solid #646cff;
}
.searchButton:hover {
transform: scale(1.05);    
}