#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  justify-content: flex-start;
  padding: 2rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.logo>span {
  display: flex;
  position: relative;
  margin: 0;
  font-size: calc(2px + 1vmin);
  color: gray;
  font-weight: 600;
  top: -30px;
}

.logo>img {
  display: flex;
  width: 200px;
  margin: 0;

}

.logo:hover {
  transform: scale(1.15);
}